* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* start of header style */
header {
    background-color: purple;
    width: 100%;
}
header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    margin: 15px;
    list-style: none;
}

header .high-score {
    background-color: lightgrey;
    border: 2px solid black;
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
}

header .timer {
    padding: 15px;
    margin: 15px;
    font-size: larger;
    color: lightgrey;
    font-weight: bold;
}

body {
    background-color: lightgrey;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}


.start-container {

}

.start-container h1 {
    text-align: center;
    padding: 15px;
    margin: 15px;
    border-bottom: 2px solid black;
    font-size: 40px;
}

.start-container p {
    text-align: center;
    padding: 15px;
    margin: 15px;
    font-size: 25px;
}

.btn-start {
    margin: 15px;
    padding: 15px;
    color: lightgrey;
    background-color: purple;
    border: 2px solid black;
    border-radius: 15px;
    width: 100%;
    font-size: 25px;
}


#questions-container {
    display: none;
}

.question-container {
    display: block;
}

.question-title {
    font-weight: bold;
    font-size: 35px;
    padding: 5px;
    margin: 15px;

}

.btn-choice {
    display: block;
    margin: 5px;
    padding: 15px;
    background-color: purple;
    color: lightgrey;
    border: 2px solid black;
    border-radius: 15px;
    width: 100%;
}

.answer {
    display: block;
    text-align: center;
    font-size: 30px;
    padding-top: 5px;
    margin-top: 5px;
}

#end-container {
    display: none;
}

.end-container h3 {
    text-align: center;
    font-size: 35px;
    padding: 5px;
    margin: 15px;
}
.end-container p {
    text-align: center;
    font-size: 25px;
    padding: 5px;
    margin: 15px;
}

.end-container form {
    text-align: center;
    font-size: 25px;
}

form input {
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    font-size: 25px;
}

